.root {
  position: relative;
  padding: var(--mantine-spacing-xs);
  transition: border-color 150ms ease;

  &[data-checked] {
    border-color: var(--mantine-primary-color-filled);
  }

  @mixin hover {
    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.label {
  font-weight: 600;
  font-size: var(--mantine-font-size-sm);
  line-height: 1.3;
}

.description {
  margin-top: 5px;
   line-height: 1.5;
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-xs);
}
