.header {
  color: var(--mantine-color-text);
  background-color: var(--mantine-color-neutral-1);
  border-radius: var(--mantine-radius-md);
}

.root{
  border: 1px solid var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-md);
}

.pagination {
  border-top: 1px solid var(--mantine-color-default-border);
}

.table {
  border-collapse: separate;

  & thead {
    & th {
      border-bottom: 1px solid var(--mantine-color-default-border);
      font-weight: 400;
      padding: 5px var(--mantine-spacing-xs);
    }
  }

  & tbody {
    & td {
      padding: var(--mantine-spacing-xs);
      color: var(--mantine-color-dark-7);
      overflow: hidden;
      border-bottom: 1px solid var(--mantine-color-default-border);
      padding: 8px var(--mantine-spacing-xs);
    }

    & tr {
      &:hover {
        background-color: var(--mantine-color-stone-0);
      }
    }

    & tr:last-child {
      & td {
        border-bottom: none;
      }
    }
  }
}

.expandIcon {
  transition: transform 0.2s;
}

.expandIconRotated {
  transform: rotate(90deg);
}
